<div class='panel panel-default'>
  <div class='panel-heading'>
    Tasks
  </div>
  <div class='panel-body'>
    <div id='tasks-list' class='list-group'>
      <% tasks.each do |task| %>
        <%= render partial: 'tasks/item', locals: { task: task } %>
      <% end %>
    </div>
  </div>
  <div class='panel-footer'>
    <%= new_task_button %>

    <div id='new-task-form'></div>
  </div>
</div>