<% if @task.errors.any? %>
  status = 'error'
  task_data = "<%= escape_javascript(render file: 'tasks/new') %>"
<% else %>
  status = 'success'
  task_data = "<%= escape_javascript(render partial: 'tasks/item', locals: { task: @task }) %>"
<% end %>

task = new Task
task.create(task_data, status)