<%= form_for([@board, @story, @task], remote: true, html: {class: 'form-inline'}) do |f| %>
  <div class='form-group input-inline-group'>
    <%= f.text_field :name, placeholder: 'task name', 
      class: "input-inline #{@task.errors.include?(:name) ? 'field-error' : ''}" %>
     <% if @task.errors.include?(:name) %>
      <div class='error-message'>
        <%= @task.errors.messages[:name].join('-') %>
      </div>
     <% end %>
  </div>
  
  <div class='list-actions'>
    <%= link_to '#', remote: true, class: 'cancel-edit-task-button', title: 'Back' do %>
      <span class='glyphicon glyphicon-chevron-right'></span>
    <% end %> |
    <%= link_to '#', title: 'Save Task', class: 'save-task-button' do %>
      <span class='glyphicon glyphicon-ok'></span>
    <% end %>
  </div>

<% end %>
