<%= form_for([@board, @story, @task], remote: true) do |f| %>
  <%= f.hidden_field :story_id, value: @story.id %>
  <div class='form-group'>
    <%= f.text_field :name, placeholder: 'task name',
     class: "input-inline #{@task.errors.include?(:name) ? 'field-error' : ''}" %>
     <% if @task.errors.include?(:name) %>
      <div class='error-message'>
        <%= @task.errors.messages[:name].join('-') %>
      </div>
     <% end %>
  </div>
  <%= f.submit 'Save', class: 'btn btn-primary' %> |
  <%= link_to t('.action.cancel'), '#', class: 'cancel-new-task-button btn btn-warning' %>
<% end %>