<% if @task.errors.any? %>
  task_data = "<%= escape_javascript(render file: 'tasks/edit') %>"
<% else %>
  task_data = "<%= escape_javascript(render partial: 'tasks/task', locals: { task: @task }) %>"
<% end %>

task_element = $("#task_<%= @task.id %>")
task = new Task
task.update(task_element, task_data)