<%= form_for([@board, @story], remote: true) do |f| %>
  <% if @step.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.hidden_field :step_id, value: @step.id %>
  
  <div class="form-group">
    <%= f.text_field :name, placeholder: 'story name' %>
  </div>
  
  <% if action_name == 'edit' %>
  
    <div class="form-group">
      <%= f.text_area :description, class: 'form-control', rows: 5 %>
    </div>
  
    <div class="form-group">
      <%= f.label :is_private do %> 
        <%= f.check_box :is_private %>
        is private?
        <% end %>
    </div>
  
  <% end %>
  
  <%= f.submit 'Create', class: 'btn btn-primary' %>
  <% if action_name == 'edit' %>
    | <%= link_to t('.action.cancel'), '#', class: 'cancel-form-story-button btn btn-warning' %>
  <% end %>
<% end %>
