<li id="story_<%= story.id %>" class='list-group-item draggable' data-update_path='<%= board_story_path(@board, story) %>'>
  <div><%= link_to story.name, board_story_path(@board, story), remote: true, class: 'story-show-button' %>
  <%= delete_story_button(story) %></div>
</li>