<div class='row'>
  <div class='col-md-8'>
    <p><%= @story.description %></p>
  </div>
</div>
<% if @story.is_private? %>
  <div class='row'>
    <div class='col-md-8'>
      <h5>Is private</h5>
    </div>
  </div>
<% end %>