<% if @story.errors.any? %>
  status = 'error'
  story_data = "<%= escape_javascript(render file: 'stories/new') %>"
<% else %>
  status = 'success'
  story_data = "<%= escape_javascript(render partial: 'stories/item', locals: { story: @story }) %>"
<% end %>

step_selector = "#step_<%= @story.step_id%>"
story = new Story
story.create(story_data, step_selector, status)