<h5>Editing Story</h5>
<%= form_for([@board, @story], remote: true) do |f| %>
  <%= f.hidden_field :step_id, value: @step.id %>
  
  <div class="form-group">
    <%= f.text_field :name, placeholder: 'story name', class: "form-control #{@story.errors.include?(:name) ? 'field-error' : ''}" %>
     <% if @story.errors.include?(:name) %>
      <div class='error-message'>
        <%= @story.errors.messages[:name].join('-') %>
      </div>
     <% end %>
  </div>
  
  
    <div class="form-group">
      <%= f.text_area :description, class: 'form-control', rows: 5 %>
    </div>
  
    <div class="form-group">
      <%= f.label :is_private do %> 
        <%= f.check_box :is_private %>
        is private?
        <% end %>
    </div>
  
  
  <%= f.submit 'Save', class: 'btn btn-primary save-story-button' %> |
  <%= link_to t('.action.cancel'), '#', class: 'cancel-form-story-button btn btn-warning' %>
<% end %>