<div class='cancel-form-button'>
  <%= link_to t('.action.cancel'), '#', class: 'cancel-form-story-button' %>
</div>

<%= form_for([@board, @story], remote: true) do |f| %>
  <%= f.hidden_field :step_id, value: @step.id %>
  
  <div class="form-group">
    <%= f.text_field :name, placeholder: 'story name',
     class: @story.errors.include?(:name) ? 'field-error' : '' %>
     <% if @story.errors.include?(:name) %>
      <div class='error-message'>
        <%= @story.errors.messages[:name].join('-') %>
      </div>
     <% end %>
  </div>
  
  <%= f.submit 'Create', class: 'btn btn-primary save-story-button' %>
<% end %>