<div class="page-header">
  <div class='row'>
      <div class='col-md-8'>
        <h1><%= @story.name %></h1>
      </div>
      <div class='col-md-4'>
        <div class='action-buttons'>
          <%= edit_story_button %>
        </div>
      </div>
  </div>
</div>
<div class='story-container'>
  <div class='row'>
    <div class='col-md-8'>
      <div class='show-story'>
        <div class='story'>
          <%= render partial: 'stories/story' %>
        </div>
      </div>
      <div class='edit-story-form'></div>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-8'>
      <%= render partial: 'tasks/list', locals: { tasks: @story.tasks } %>
    </div>
  </div>
</div>