<% if @story.errors.any? %>
  status = 'error'
  story_data = "<%= escape_javascript(render file: 'stories/edit') %>"
<% else %>
  status = 'success'
  story_data = "<%= escape_javascript(render partial: 'stories/story', locals: { story: @story }) %>"
<% end %>

story_name = "<%= @story.name %>"
story = new Story
story.update(story_data, '.story', story_name, status)