<%= form_for(@board) do |f| %>
  <% if @board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@board.errors.count, "error") %> prohibited this board from being saved:</h2>

      <ul>
      <% @board.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.text_field :name, placeholder: 'board name', class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :is_private do %> 
      <%= f.check_box :is_private %>
      is private?
      <% end %>
  </div>
  <%= f.submit 'Save', class: 'btn btn-primary' %>
<% end %>
