<p id="notice"><%= notice %></p>
<div class="page-header">
  <div class='row'>
      <div class='col-md-8'>
        <h1>Listing Boards</h1>
      </div>
  </div>
</div>
<div class='board-container'>
  <table class="table table-bordered">
    <thead>
      <th>Name</th>
      <th>Edit</th>
      <th>Destroy</th>
    </thead>
    <tbody>
      <% @boards.each do |board| %>
        <%= table_board_for_user(board) do %>
          <td><%= link_to board.name, board %></td>
          <% if board.owner == current_user %>
            <td><%= link_to 'Edit', edit_board_path(board), class: 'btn btn-primary' %></td>
            <td><%= link_to 'Destroy', board, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Board', new_board_path, class: 'btn btn-primary' %>
