<p id="notice"><%= notice %></p>
<div class="page-header">
  <div class='row'>
      <div class='col-md-4'>
        <h1><%= @board.name %></h1>
      </div>
      <div class='col-md-8'>
        <div class='action-buttons'>
          <div class='new-step-form'></div>
          <%= link_to t('.actions.new_step'), 
            new_board_step_path(@board), class: 'btn btn-success' %> |
          <% if @board.owner == current_user %>
            <%= link_to t('.actions.edit'), edit_board_path(@board), class: 'btn btn-primary' %> |
          <% end %>
          <%= link_to t('.actions.back'), boards_path, class: 'btn btn-warning' %>
        </div>
      </div>
  </div>
</div>
<div class='board-container'>
  <%= render partial: 'steps/list', locals: { steps: @board.steps }  %>
</div>
<div id='story-modal'></div>
