<%= form_for([@board, @step]) do |f| %>
  <%= f.hidden_field :board_id, value: @board.id %>
  
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: 'step name',
      class: @step.errors.include?(:name) ? 'field-error' : ''
     %>
     <% if @step.errors.include?(:name) %>
      <div class='error-message'>
        <%= @step.errors.messages[:name].join('-') %>
      </div>
     <% end %>
  </div>

  <hr class="separator">
  
  <%= f.submit 'Save', class: 'btn btn-primary' %> 
<% end %>
