<div id="step_<%= step.id %>" class='col-md-3 step-item'>
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= step.name %>
      <%= delete_step_button(step) %>
    </div>
    <div class="panel-body">
      <%= render partial: 'stories/list', locals: { stories: step.stories.accessible_for(current_user), step: step }  %>
    </div>
    <div class="panel-footer">
      <%= link_to t('.actions.new_story'), 
      new_board_story_path(@board, step_id: step.id),
      remote: true, class: 'new-story-button btn btn-success' %>

      <div class='new-story-form'></div>
    </div>
  </div>
</div>