<div class='steps-container container-large'>
  <div id='steps-list' class='row'>
    <% steps.each do |step| %>
      <%= render partial: 'steps/item', locals: { step: step } %>
    <% end %>
    </div>
  </div>
</div>