<p id="notice"><%= notice %></p>
<div class="page-header">
  <div class='row'>
      <div class='col-md-8'>
        <h1>New Step</h1>
      </div>
      <div class='col-md-4'>
        <div class='action-buttons'>
          <%= link_to t('.actions.back'), board_path(@board), class: 'btn btn-warning' %>
        </div>
      </div>
  </div>
</div>
<div class='step-container'>
  <%= render 'form' %>
</div>