.page-header .action-buttons{
  margin-top: 25px;
  float: right;
}

.cancel-form-button {
  float: right;
}

input.field-error {
  border: 1px solid red;
}

form .error-message {
  color: red;
}

.list-actions {
  float: right;
}

.form-inline .input-inline-group {
  width: 80%;
}

.form-inline input.input-inline {
  width: 100%;
}
