<!DOCTYPE html>
<html>
<head>
  <title>Todoit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="masthead">
      <%= render 'layouts/user_header' %>
        <h3 class="muted"><%= link_to "TodoIt", root_path %></h3>
        <h5 class="muted">A Simple Task Manager</h5>
    </div>
    <hr />
    <%= yield %>
  </div>

</body>
</html>
